@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3t8om5');
  src:  url('../fonts/icomoon.eot?3t8om5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3t8om5') format('truetype'),
    url('../fonts/icomoon.woff?3t8om5') format('woff'),
    url('../fonts/icomoon.svg?3t8om5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-css3:before {
  content: "\e900";
  color: #1572b6;
}
.icon-html5:before {
  content: "\e901";
  color: #e34f26;
}
.icon-ruby:before {
  content: "\e902";
  color: #cc342d;
}
.icon-wordpress:before {
  content: "\e903";
  color: #21759b;
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-vk:before {
  content: "\f189";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
