@import "bootstrap.min.css";
@import "icomoon.css";
$orange: #ffc600;
$light-gray: #f8f8f8;
.container-fluid-hello{
    background-image: url("../img/hello.jpg");
    background-size: cover;
    min-height: 500px;
}
.hello-world{
    width: 50%;
    margin-left: 50%;
    padding-top: 100px;
    p{
        margin: 10px;
        &.h1{
            font-size: 3rem;
        }
        &.h2{
            font-size: 2.5rem;
        }
    }
    .job{
        background-color: #8a8a8a;
        color: #ffc600;
        padding: 5px 10px;
        font-size: 20px;
        font-weight: 500;
        display: inline-block;
        box-shadow: 4px 4px 3px $orange;
        font-style: italic;
    }
}
.about{
    h2{
        text-align: center;
        font-size: 32px;
        padding: 15px 5px 10px;
    }
    &-me{
        padding-top: 60px;
        h3{
            border-left: 3px solid $orange;
            padding: 10px;
        }
        p{
            padding-left: 10px;
            font-size: 18px;
            font-style: italic;
        }
    }
    &-skills{
        background-color: $light-gray;
        padding: 60px 30px;
        span{
            font-size: 35px;
        }
    }
}